exportMethods(
    "initialize",
    "plot"
)
export(
    "avail",
    "loadABT",
    "make_fit_reports",
    "make_summary_report",

    "DD_i2",
    "DD_i4",
    "DD_i2_4010",
    "DD_i4_4010",
	  "CDD_i2",
    "CDD_i4",
    "Islope1_i2",
    "Islope1_i4",
    "LstepCC4",
    "ZeroC",
    "UMSY",
    "UMSY_PI",
    "XSA",
    "SPslope_i2",
    "SPslope_i4",
    "Fadapt_i2",
    "Fadapt_i4",
    "SBT2",
    "SP_i2",
    "SP_i4",
    "MCD_i2",
    "MCD_i4",
    "DD_R",
    "DD",
    "CDD",
    "Islope1",
    "SPslope",
    "Fadapt",
    "SP",
    "SP_R",
    "MCD",
    "MeanC",

    "getperf",
    "Tplot",
    "TOplt",
    "TOPNTplt",
    "tradeoff",
    "areaplot",
    "Umax_30",
    "Umax_50",
    "Umax_90",
    "Overage_10",
    "Overage_20",
    "Overage_30",

    "Y10",
    "Y20",
    "Y30",
    "PGK",
    "POF",
    "POFed",
    "D10",
    "D20",
    "D30",
    "LD",
    "RSSB",
    "LRSSB",
    "AAVY",

    "tomt",
    "TEG",
    "domov",
    "domov2",
    "domov3",
    "M3read",
    "ADMBrep",
    "SRopt",
    "getBH",
    "getBH_R0",
    "getHS",
    "getHS_R0",
    "calcVBpars",
    "getVBpars",
    "calcABpars",
    "getABpars",
    "read.fit",
    "indfit",
    "trlnorm",
    "sampCatch",
    "makeCAL",
    "makeCAL2",
    "makeCAL3",
    "makeTrans",
    "makeTransparent",
    "musmooth",
    "MSY_FAST",
    "getMSYfast",
    "sdensplot",
    "meanFs",
    "timeFs",

    "AssignAge",
    "tbin",
    "AssignFleet",
    "ICCATtoGEO",
    "ICCATtoGEO2",
    "assign_area",
    "assign_quarter",
    "assign_fleet",
    "assign_year",
    "exp_agg_CAS",
    "calcarea",

    "plotindex",
    "plot_mov_dist",
    "vmovplot",

    "sourceall",

    "MatM_Ref",
    "Steep_Ref",

    "read.hessian",
    "pin_from_par",
    "pin_from_cor",
    "read.fit",
    "M3write",
    "runM3",
    "M3read",

    "tiny"
)
exportClasses(
    "OMI",
    "OM",
    "MSE",
    "Obs"
)
import(
    "MASS",
    "snowfall",
    "maps",
    "mapdata",
    "wordcloud",
    "abind",
    "SDMTools",
    "PBSmapping",
    "MASS",
    "shiny",
    "parallel",
    "lubridate",
    "rmarkdown",
    "knitr",
    "mvtnorm",
    "ggplot2"
)
importFrom("grDevices", "col2rgb", "rainbow", "rgb", "xy.coords", "colorRampPalette")
importFrom("graphics", "abline", "hist", "layout", "legend", "lines",
          "matplot", "mtext", "par", "points", "text","axis","identify",
			    "polygon", "title", "plot.new", "barplot", "boxplot", "segments")
importFrom("stats", "coef", "density", "dlnorm", "dnorm", "lm",
           "loess", "optim", "optimise", "optimize", "predict",
           "qlnorm", "quantile", "rbeta", "rlnorm", "rmultinom",
           "rnorm", "runif", "sd", "uniroot", "approx", "dbeta", "nlm",
			     "pnorm", "loess.smooth", "plogis", "median")
importFrom("utils", "flush.console", "read.csv", "lsf.str", "packageVersion")
importFrom("abind", "abind")
importFrom("Rcpp", "evalCpp")
#importFrom("readxl", "read_excel", "excel_sheets")
#useDynLib(DLMtool)



