exportMethods(
    "initialize",
    "plot"
)
export(
    "avail",
    "loadABT",
    "make_fit_reports",
    "make_summary_report",
    "make_comp_report",
    "MSE_report",
    "readme",

    "DD_i7",
    "DD_i7_4010",
    "CDD_i7",
    "Islope1_i3",
    "Islope1_i7",
    "LstepCC4",
    "ZeroC",
    "CurC100",
    "CurC50",
    "CurC150",
    "CurC25",
    "CurC75",
    "CurC125",
    "EMP1w",
    "EMP1e",
    "EMP2w",
    "EMP2e",
    "UMSY",
    "UMSY_PI",
    "XSA",
    "SPslope_i3",
    "SPslope_i7",
    "Fadapt_i3",
    "Fadapt_i7",
    "SBT2",
    "SP_i7",
    "MCD_i7",
    "DD_R",
    "DD",
    "CDD",
    "Islope1",
    "SPslope",
    "Fadapt",
    "SP",
    "SP_R",
    "MCD",
    "MeanC",

    "CSMP",
    "xMPi",

    "runMulti",
    "multiMSE",


    "Deterministic",

    "getperf",
    "PPlot",
    "custombar",
    "Tplot",
    "Tplot2",
    "TplotS",
    "TplotS2",
    "TOplt",
    "TOPNTplt",
    "tradeoff",
    "areaplot",
    "Umax_30",
    "Umax_50",
    "Umax_90",
    "Overage_10",
    "Overage_20",
    "Overage_30",


    "AvC30",
    "C10",
    "C20",
    "C30",

    "D10",
    "D20",
    "D30",
    "LD",
    "DNC",
    "LDNC",
    "PGK",
    "POF",
    "POS",
    "AAVC",
    "Br30",

    "RD30",

    "tomt",
    "TEG",
    "domov",
    "domov2",
    "domov3",
    "M3read",
    "ADMBrep",
    "SRopt",
    "SRopt2",
    "SRplot",
    "getBH",
    "getHS",
    "calcVBpars",
    "getVBpars",
    "calcABpars",
    "getABpars",
    "read.fit",
    "indfit",
    "trlnorm",
    "sampCatch",
    "makeCAL",
    "makeCAL2",
    "makeCAL3",
    "makeCAL4",
    "SampCatch2",
    "makeTrans",
    "makeTransparent",
    "musmooth",
    "MSY_FAST",
    "MSYMLE_parallel",
    "optMSY_eq",
    "MSYCalcs",
    "getMSYfast",
    "doMSY",
    "sdensplot",
    "meanFs",
    "meanFslen",
    "Fageprof",
    "timeFs",
    "sigR_AC_conv",

    "AssignAge",
    "tbin",
    "AssignFleet",
    "ICCATtoGEO",
    "ICCATtoGEO2",
    "assign_area",
    "assign_quarter",
    "assign_fleet",
    "assign_year",
    "exp_agg_CAS",
    "calcarea",

    "plotindex2",
    "plot_mov_dist",
    "plot_mov",
    "plotcomp",
    "vmovplot",

    "Explot_SS_multi",
    "Explot_SS_multi_bio",
    "Explot_SS",
    "Explot",

    "sourceall",

    "MatM_Ref2",
    "Rec_Ref",
    "SSB_Dep_Ref",
    "Mat_Ref",
    "Steep_Ref",
    "SSBref",

    "MSYMLE",
    "optMSY_eq",
    "MSYCalcs",

    "read.hessian",
    "pin_from_par",
    "pin_from_cor",
    "read.fit",
    "M3write",
    "runM3",
    "runM3p",
    "M3read",
    "CalcCVs",
    "IRW_bd",
    "LHtabs",

    "DesignEffect",

    "tiny",
    "MPlag",

    "Shiny"
)
exportClasses(
    "OMI",
    "OM",
    "MSE",
    "Obs",
    "TEST"
)
import(
    "MASS",
    "snowfall",
    "maps",
    "mapdata",
    "wordcloud",
    "abind",
    "SDMTools",
    "PBSmapping",
    "shiny",
    "parallel",
    "lubridate",
    "rmarkdown",
    "knitr",
    "mvtnorm",
    "ggplot2"
)
importFrom("grDevices", "col2rgb", "rainbow", "rgb", "xy.coords", "colorRampPalette")
importFrom("graphics", "abline", "hist", "layout", "legend", "lines",
          "matplot", "mtext", "par", "points", "text","axis","identify",
			    "polygon", "title", "plot.new", "barplot", "boxplot", "segments")
importFrom("stats", "coef", "density", "dlnorm", "dnorm", "lm",
           "loess", "optim", "optimise", "optimize", "predict",
           "qlnorm", "quantile", "rbeta", "rlnorm", "rmultinom",
           "rnorm", "runif", "sd", "uniroot", "approx", "dbeta", "nlm",
			     "pnorm", "loess.smooth", "plogis", "median")
importFrom("utils", "flush.console", "read.csv", "lsf.str", "packageVersion")
importFrom("abind", "abind")
importFrom("Rcpp", "evalCpp")
#importFrom("readxl", "read_excel", "excel_sheets")
#useDynLib(DLMtool)



